/* Reset default margin and padding for body */
body {
  margin: 0;
  padding: 2rem;
  height: 100vh; /* Ensure body fills the viewport height */
  font-family: 'Poppins', sans-serif; /* Apply Google Font */
  background-color: black;
}

