.ho-container {
  display: flex;
}

.sidebar {
  width: 20%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 0;
}

.logo-container {
  
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 40px;
}

.logo {
  width: 50px;
  margin-right: 50px;
  display: flex;

  top:20px;
}

.sidebar-item {
  /* margin */
  padding: 5px 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  transition: background-color 0.3s;
  margin-bottom: 20px;
  margin-top: 30px;
}

.sidebar-item:hover {
  background-color: black;
}

.sidebar-icon:hover {
  background-color: #1DA1F2;
}

.sidebar-icon {
  margin-right: 10px;
}

.main-content {
  width: 40%;
  background-color: #000000;
  padding: 20px;
}

.sticky-nav {
  color: #657786;
  display: flex;
  justify-content: space-around;
  background-color: black;
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav-item {
  padding: 10px 20px;
  cursor: pointer;
}

.nav-item.active {
  border-bottom: 2px solid #1DA1F2;
}

.content {
  margin-top: 20px;
}

.content-section1 {
  margin-bottom: 20px;
}

.profile-post {
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  height:70px;
  padding: 3px 3px;
}

.profile-icon {
  font-size: 2rem;
  margin-right: 10px;
  color:white
}

.post-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #E1E8ED;
  border-radius: 20px;
  margin-right: 10px;
  width:300px;
}

.profile-post button {
  background-color: #1DA1F2;
  color: white;
  border: none;
  padding: 10px 18px;
  width:80px;
  margin-top: 0px;
  
  border-radius: 20px;
  cursor: pointer;
}

.content-section {
  background-color: rgba(0, 0, 0, 0.342); 
  border: 1px solid white;
  border-radius: 10%;
  padding: 20px;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 100vh;
  width: 100%; 
  max-width: 1200px; 
  margin: 0 auto; 
  color:white;
  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.content-section::-webkit-scrollbar { 
  display: none;  
}

.tweet {
  margin-bottom: 20px;
  border-bottom: 1px solid rgb(146, 134, 134);
}

.tweet-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.tweet-profile-icon {
  font-size: 2rem;
  margin-right: 10px;
}

.tweet-content {
  margin-bottom: 10px;
}

.tweet-timestamp {
  color: #657786;
}

.main-content2 {
  width: 30%;
  background-color: #010507;
  padding: 20px;
}

.sticky-search {
  position: sticky;
  top: 15px;
  z-index: 10;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 20px;
  
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  height: 20px;
  position: relative;
  top: 5px;

}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-icon {
  color: #1DA1F2;
}

.content2 {
  margin-top: 70px;
}

.content-section2 {
  max-height: 400px;
  background-color: rgb(0, 0, 0);
  padding: 20px;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}
.content-section2 h3{
  font-weight: bold;
  font-size: 1em;
  
}
.trending-item {
  padding: 10px 0;
  border-bottom: 1px solid #e1e8ed;
}
.trending-item h3{
  font-weight: bold;
  font-size: 1em;
}